* {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #613583;
  justify-content: space-between;
}

.nav-entry {
  transition: all 0.4s;
}

.nav-entry:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.tooltip-text {
  display: inline-block;
  visibility: hidden;
  background-color: rgba(255,255,255,0.2);
  color: #5e5c64;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 5px;
}

.nav-entry:hover + .tooltip-text {
  visibility: visible;
}

.nav-left {
  display: flex;
}

.icon {
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 4px;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin: 2px 0px;
  border-radius: 40px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: grey;
  width: 35vw;
  background-color: rgba(255,255,255,0.4);
  border-radius: 40px;
  height: 85%;
  align-self: center;
}

.search {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.search-text {
  width: 95%;
  height: 95%;
  border-radius: 40px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  border: none;
  text-indent:5px;
}

.avatar {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 10px;
}

.account {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.7rem;
  margin-right: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: #33d17a;
  text-decoration: none;
  justify-content: space-between;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #faf;
  overflow: auto;
}
